.inst{
    padding: 3px;
    font-family: 'Fredoka One', cursive;
    font-size: 35px;
}
#chto{
    color: black;
}
.dropdown, .dropleft, .dropright, .dropup {
    position: relative;
    margin-top: auto;
}
/* .headerfoto{
    display: flex;
    justify-content: space-between;
} */
.bodyI{
    
    display: flex;
    justify-content:center ;
    flex-direction: column;
    width: 35vw;

}
.father{
    /* margin: 20px; */
    padding: 20px;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* flex-direction: column; */
}

.titlePhoto{
    background-color:rgb(226, 219, 219);
    /* border:solid 2px blue; */
    display: flex;
    flex-direction: row;
    

}
.points{
   flex-grow: 1;
   display: flex;
   justify-content: flex-end;
}
.item{
    padding: 8px;
    margin: 3px;
}
.foot{
    
    background-color: rgb(226, 219, 219);
    /* border:solid 2px blue; */
    display: flex;
    flex-direction: row;
    padding: 8px;

}
.image{
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: row;
    /* margin: 3px;
    border-radius: 3px; */

}
.description{
    background-color: white;
    text-overflow: ellipsis;
    /* border:solid 2px blue; */
    padding: 8px;
}
p{
    max-width: fit-content;
}
.icons{
    border: none;
    background-color: transparent;
    
}
.icons:hover{
    color: red;
}
.icons:focus{
    outline: none;
  box-shadow: none;
}

.linkIcon{
    margin: 2px;
}
.photoGrid{
    margin-top: 10px;
    margin-bottom: 10px;
}
.post-b{
    border: 2px solid gray;
}
body{
    background-color: black;
}
.denunonce{
    color: red;
}

.modal-backdrop{
    z-index: 10;
}
.inputext{
    width: 100%;
    height: 100%;
    border: none;
}
.box{
    padding: 0px;
    height: 60px;
}
.cancel{
    background-color: palevioletred;
}
.publish{
    background-color: seagreen;
}